<div class="login-screen">
  <div class="login-form">
    <form ng-submit="register()">
      <div>
        <input type="email" ng-model="user.email_address" placeholder="email address" class="input input-lg" autofocus>
      </div>
      <div>
        <input type="password" ng-model="user.password" placeholder="password" class="input input-lg">
      </div>
      <div>
        <input type="text" ng-model="user.name" placeholder="name" class="input input-lg">
      </div>
      <button type="submit" class="btn btn-lg btn-white">REGISTER</button>
    </form>
  </div>
</div>