/*--------------------------*\
    Media Module
\*--------------------------*/
.media {
  margin: 10px;
}

.media, .media-body {
  overflow: hidden;
}

.media .media-feature {
  float: left;
  margin-right: 10px;
}

.media .media-feature img {
  display: block;
}

.media .media-feature-alt {
  float: right;
  margin-left: 10px;
}