/**
 * layout/sidebar.css
 */
.sidebar {
  background-color: #64b044;
  overflow-x: scroll;
}

.sidebar-header {
  border-bottom: thin solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
}

.sidebar a {
  text-decoration: none;
}

.sidebar .conversation {
  border-bottom: thin solid rgba(0, 0, 0, 0.1);
  border-top: thin solid rgba(255, 255, 255, 0.1);
  padding: 10px;
}

.sidebar .conversation-summary {
  color: #999;
  font-size: 11px;
}

.sidebar .conversation-participant {
  color: white;
  font-size: 12px;
  font-weight: 700;
}